[Unit]
Description=runner-resource-caps

[Service]
ExecStart=/usr/local/bin/runner-resource-caps.sh
Restart=always

[Install]
WantedBy=multi-user.target
